In [1]:
!pip install XlsxWriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting XlsxWriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 4.7 MB/s
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.0.3

In [2]:
import requests
import pandas as pd

In [13]:
url = 'https://finance.yahoo.com/most-active'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'}
site = requests.get(url, headers=headers)

In [16]:
dados = pd.read_html(site.text)
df = pd.DataFrame(dados[0])
df

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,BBD,Banco Bradesco S.A.,2.90,0.04,+1.40%,61.878M,39.326M,30.91B,6.74,NaN
1,TSLA,"Tesla, Inc.",180.19,-2.98,-1.63%,74.495M,73.974M,568.995B,56.66,NaN
2,ITUB,Itaú Unibanco Holding S.A.,4.94,0.10,+2.07%,64.191M,43.834M,48.416B,9.88,NaN
3,AMD,"Advanced Micro Devices, Inc.",73.57,-0.33,-0.45%,73.223M,84.581M,118.621B,45.41,NaN
4,AMZN,"Amazon.com, Inc.",94.14,-0.71,-0.75%,71.955M,71.678M,960.388B,86.37,NaN
5,AAPL,Apple Inc.,151.29,0.57,+0.38%,74.497M,89.93M,2.407T,24.76,NaN
6,PBR,Petróleo Brasileiro S.A. - Petrobras,11.35,-0.11,-0.96%,42.863M,36.705M,74.026B,2.25,NaN
7,NIO,NIO Inc.,10.47,-0.20,-1.87%,48.843M,57.193M,17.534B,NaN,NaN
8,NVDA,NVIDIA Corporation,154.09,-2.68,-1.71%,48.981M,59.502M,383.992B,41.32,NaN
9,CCL,Carnival Corporation & plc,9.47,-0.04,-0.42%,38.417M,62.475M,12.3B,NaN,NaN
10,VALE,Vale S.A.,15.07,-0.26,-1.70%,31.723M,44.061M,71.748B,3.88,NaN
11,SOFI,"SoFi Technologies, Inc.",5.18,-0.20,-3.72%,35.962M,45.294M,4.142B,NaN,NaN
12,ABEV,Ambev S.A.,2.87,0.05,+1.77%,29.267M,29.834M,45.178B,19.13,NaN
13,T,AT&T Inc.,18.97,0.02,+0.11%,33.123M,46.694M,135.199B,7.84,NaN
14,F,Ford Motor Company,13.99,0.08,+0.58%,36.634M,67.287M,56.247B,6.25,NaN
15,META,"Meta Platforms, Inc.",112.05,0.60,+0.54%,33.358M,43.869M,297.106B,10.81,NaN
16,DLO,DLocal Limited,12.78,2.18,+20.57%,32.611M,3.464M,3.783B,85.20,NaN
17,BAC,Bank of America Corporation,37.19,0.02,+0.05%,31.196M,41.167M,298.354B,11.77,NaN
18,FTCH,Farfetch Limited,8.11,-1.03,-11.27%,31.488M,11.045M,3.092B,NaN,NaN
19,BABA,Alibaba Group Holding Limited,80.48,-3.78,-4.49%,29.313M,24.072M,216.357B,37.26,NaN
20,NU,Nu Holdings Ltd.,4.32,-0.06,-1.37%,29.17M,30.626M,20.242B,NaN,NaN
21,GOOGL,Alphabet Inc.,97.43,-0.93,-0.95%,28.342M,31.785M,1.263T,19.56,NaN
22,RLX,RLX Technology Inc.,1.76,0.03,+1.73%,27.686M,9.544M,2.724B,5.33,NaN
23,MSFT,Microsoft Corporation,241.22,-0.46,-0.19%,27.614M,29.214M,1.798T,25.97,NaN
24,PLTR,Palantir Technologies Inc.,7.39,-0.23,-3.02%,27.012M,35.884M,15.373B,NaN,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symbol             25 non-null     object
 1   Name               25 non-null     object
 2   Price (Intraday)   25 non-null     float64
 3   Change             25 non-null     float64
 4   % Change           25 non-null     object
 5   Volume             25 non-null     object
 6   Avg Vol (3 month)  25 non-null     object
 7   Market Cap         25 non-null     object
 8   PE Ratio (TTM)     19 non-null     float64
 9   52 Week Range      0 non-null      float64
dtypes: float64(4), object(6)
memory usage: 2.1+ KB

In [19]:
# Removendo coluna inútil

df.drop('52 Week Range', axis=1, inplace=True)

KeyError: ignored

In [21]:
# Salvando em excel
excel = pd.ExcelWriter('acoes_yahoo.xlsx', engine='xlsxwriter')
df.to_excel(excel, sheet_name='ACOES')
excel.save()